      <h1>Let's buy a book!</h1>
        <h2>Enter a ISBN:</h2>
        <input type="text" id="isbn" placeholder="Search isbn">
        <button id="isbn-search">Enter</button>
        <div class="text-center">
        <h2>{{title}}</h2>
        <p>{{author}}</p>
        <p>{{price}}</p>
        <p>{{isbn}}</p>
        <p>{{picture}}</p>
        <p>{{condition}}</p>

    <script>
        document.querySelector("#isbn-search").addEventListener("click", function(event){
            terms=document.querySelector("#isbn").value


            window.location=`/search?q=${terms}`
        })
    </script>
